:root {
  --accent-color: #61afef;
  --text-color: #eee;
  --text-color-invert: #111;
  --border-radius: 4px;
  --control-color: rgba(255 255 255 / 0.05);
  --control-color-hover: rgba(255 255 255 / 0.2);
  --control-transition: all .15s;
}

*, *::before, *::after {
  box-sizing: border-box;
  font: normal 14px 'Segoe UI', sans-serif;
}

::selection {
  background: var(--accent-color);
  color: var(--text-color-invert);
}

body {
  display: grid;
  height: 100vh;
  place-items: start center;
  margin: 0;
  padding: 0;
  font: 14px/1 'Segoe UI', sans-serif;
  background: #0f0f0f;
  color: var(--text-color);
}

h1, h2, p {
  margin: 0;
  padding: 0;
}

#quiz {
  display: grid;
  gap: 24px;
  width: 450px;
  margin: 16px;
  padding: 16px;
  border-radius: var(--border-radius);
}

h1 {
  font-size: 24px;
}

#progress, 
#progress::after {
  border-radius: var(--border-radius);
}

#progress {
  display: flex;
  height: 8px;
  background: var(--control-color-hover);
}

#progress::after {
  content: '';
  height: 8px;
  width: 100px;
  background: var(--accent-color);
}

h2 {
  font-size: 18px;
}

.question {
  display: grid;
  gap: 16px;
}

.options {
  display: grid;
  gap: 8px;
}

label {
  user-select: none;
  display: flex;
  gap: 8px;
  padding: 16px 12px;
  background: var(--control-color);
  border-radius: var(--border-radius);
  transition: var(--control-transition);
}

label:hover {
  cursor: pointer;
  background: var(--control-color-hover);
}

label:has(input:checked) {
  background: #eee;
  color: #111;
}

input[type="radio"] {
  appearance: none;
  display: grid;
  width: 1.15em;
  height: 1.15em;
  place-content: center;
  margin: 0;
  font: inherit;
  transform: translateY(-0.075em);
  background: #eee;
  border: 2px solid var(--text-color);
  border-radius: 50%;
  color: currentColor;
}

input[type="radio"]::before {
  content: '';
  width: 0.75em;
  height: 0.75em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  background: CanvasText;
}

input[type="radio"]:checked{
  background: var(--text-color-invert);
  border-color: var(--control-color);
}

input[type="radio"]:checked::before {
  background: #eee;
  transform: scale(1);
}

details {
  display: grid;
  background: var(--control-color);
  border-radius: var(--border-radius);
}

summary {
  user-select: none;
  padding: 16px;
  border-radius: var(--border-radius);
}

summary:hover {
  cursor: pointer;
}

.explain {
  padding: 0 16px 16px;
}

details p {
  margin-top: 8px;
}

#controls {
  display: flex;
  place-content: space-around;
  gap: 16px;
}

input[type='button'] {
  width: 100%;
  padding: 14px 16px;
  background: var(--control-color); 
  border: none;
  border-radius: var(--border-radius);
  color: var(--text-color); 
  transition: var(--control-transition);
}

input[type='button']:hover {
  cursor: pointer;
  background: var(--control-color-hover);
}

input[type='button']:active {
  background: #eee;
  color: #111;
  transition: none;
}